<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>jquery 이벤트 처리</title>
<script src="../js/jquery.min.js"></script>
<script>
	$(function(){
	//body 태그 뒤에 h2 태그 20 개 만들기
	for(var i=0; i<30; i=i+1){
		$('<h2>스크롤해서 업데이트 하기</h2>').appendTo('body')
	}
		
	//스크롤 이벤트 처리
	$(window).scroll(function(){
		//스크롤 할 높이 가져오기
		var scrollHeight =
			$(window).scrollTop() + $(window).height()
		//문서의 높이 가져오기
		var documentHeight = $(document).height()
		//위 2개의 높이가 같으면 가장 아래에서 스크롤 했다면
		if(scrollHeight == documentHeight){
			//실제 프로그래밍 이면 실제 데이터 N개를 가져와서 출력
			//최근에는 페이징 처리를 하지 않고 이렇게 출력하는 것도 많이 사용
			//대표적인 처리가 댓글 볼 때 또는 유튜브
			for(var i =0;i<10;i=i+1){
				$('<h3>업데이트 된 데이터</h3>').appendTo('body')
			}
		}
	
	
	})
	
	
	
	})
</script>



</head>
<body>

</body>
</html>